.navbar.navbar-fixed-top.navbar-inverse
  %nav.navbar-inner
    .container(ng-controller="HeaderCtrl")
      %a.btn.btn-navbar{data: {toggle: "collapse", target: ".nav-collapse"}}
        %i.fa.fa-bars
      = link_to "ebo", "/#/", :class => 'brand'
      .nav-collapse.collapse
        %ul.nav
          %li{"ng-class"=>"{active: isActive('/') || isActive('/home')}"}
            = link_to "/#/" do
              %i.fa.fa-home
              Home
        %ul.nav.pull-right
          %li{"ng-class"=>"{active: isActive('/workers', true)}"}
            = link_to "/#/workers" do
              %i.fa.fa-list-ul
          %li.link.dropdown{"ng-class"=>"{active: isActive('/jobs')}"}
            %a.dropdown-toggle{data: {toggle: 'dropdown'}}
              %i.fa.fa-refresh
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "/#/workers" do
                  Logs
              %li
                = link_to "/#/workers/queue" do
                  Sidekiq
              %li.divider
              - Settings.ui.workers.each do |heading, list|
                %li.dropdown-submenu
                  %a
                    = heading.capitalize
                  %ul.dropdown-menu
                    - list.each do |item|
                      %li
                        %a.link(ng-click="create_job('#{item}')")
                          = item
          %li.link.dropdown
            %a.dropdown-toggle{data: {toggle: 'dropdown'}}
              %i.fa.fa-user
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to destroy_user_session_path, method: 'delete', title: 'logout' do
                  %i.fa.fa-sign-out
                  Logout
              %li
                = link_to edit_user_registration_path, title: 'edit profile' do
                  %i.fa.fa-cog
                  Profile

        %form.navbar-search.pull-right(ng-controller="SearchCtrl")
          -#typeahead-on-select="selectTitle"
          -# typeahead-template-url="/assets/angular/search/templates/typeahead-match.html"
          -#typeahead="t as m.title for m in search($viewValue)"
          -# typeahead-min-length="3" typeahead-wait-ms="1000"
          %input.search-query(type="text" name="search" ng-model="selected" placeholder="search" autocomplete="off"
              typeahead="m.title for m in search($viewValue)"
              typeahead-on-select="selectTitle()" typeahead-min-length="3" typeahead-wait-ms="1000")
